<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Clients</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table">
        <tr>
            <th colspan="2"><h2>Clients</h2></th>
            <th colspan="4" style="text-align:right; vertical-align: middle">
                <form th:action="@{/logout}" method="post">
                    <div class="form-inline float-right">
                        <span class="align-middle mr-2" th:text="${#httpServletRequest.getUserPrincipal().getName()}"></span>
                        <button type="submit" class="btn btn-default">Logout</button>
                    </div>
                </form>
            </th>
        </tr>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bill</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}">Client ID</td>
            <td th:text="${client.name}">Client Name</td>
            <td th:text="${client.bill}">Client Bill</td>
            <td><a class="btn btn-default" href="#" th:href="${'/client/' + client.id}">View</a></td>
            <td><a class="btn btn-default" href="#" th:href="${'/client/edit/' + client.id}">Edit</a></td>
            <td><a class="btn btn-default" href="#" th:href="${'/client/delete/' + client.id}">Delete</a></td>
        </tr>
        <tr>
            <td colspan="2">
                <a th:href="${'/client/new'}" class="btn btn-default">New</a></td>
            <td colspan="4">
                <form th:action="@{/clients/search}" method="post">
                    <div class="form-inline float-right">
                        <input type="text" class="form-control mr-2" name="phone" placeholder="Phone">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>